{% extends 'blog/index.html' %}
{% load static%}
{% block content %}

<!-- Container (Services Section) -->
<br><br><br><br><br><br>
<div id="services" class="container-fluid text-center"> <br> <br> <br> <br> <br>
  <h1>Delivery Policy</h1>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
 <span  class="fa fa-truck fa-2x"></span>
      <h2 style="color:#42322B">Delivery </h2>
     <p><h4><b>Minimum order for delivery 100 SAR</b></h4></p>
      <p><h4><b>Free delivery for orders above 300 SAR </b></h4></p>
    </div>
    <div class="col-sm-4">
      <span class="fa fa-money fa-3x" ></span>
      <h2 style="color:#42322B">Delivery Fees</h2>
      <p><h4><b> From 20 -40 SAR</b></h4></p>
    </div>
    <div class="col-sm-4">
      <span class="fa fa-clock-o fa-3x"></span>
      <h2 style="color:#42322B">Delivery Time</h2>
      <p><h4><b>Same day delivery, within 24  working hours.</b></h4></p>
      <p><h4><b>Noting that working hours in Medina are:</b>
      <li> Morning shift: From 10 am till 12:30 pm except Friday</li>
      <li>Night Shift:  All Week days  From 4:30 pm till 11:30 pm</li></h4></p>
    </div>
  </div>
  <br><br>
<br> <br> <br>
</div>
<br>
<br>
{% endblock %}